body {
    background-color: #BDBDBD;
}

.div-container-sign{
    margin-top: 50px;
    margin: 0 auto;
    height: 800px;
    width: 200px;
    position:relative;
    
}
.input-container{
    margin-top: 50px;
    height: 800px;
    margin: 0 auto;
    width: 600px;
    position:relative;
    
}


.input-textfield {
    border-color: #ccffff;
    height: 350px;
    width: 600px;
    background-color:#E6E6E6;
    resize:none;
    top: 30px;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    filter:alpha(opacity=80);   /*透明*/
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;     

    border-radius:5px;          /*圆角*/
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
}
