<h1 align="center" class="page-header">留言反馈</h1>

<div style="margin:20px 300px;">
<p id="notice"><%= notice %></p>


<% @feedbacks.each do |feedback| %>
  <div style="margin:20px;padding:5px;border:solid 1px silver;" >
    <div>
      <strong>反馈内容：</strong><%= feedback.content %>
    </div>
    <div style="float:left;">
      <strong>邮箱：</strong> <%= feedback.email %> 
    </div>
    <div style="float:right;">
      <%= link_to '删除', "feedbacks/#{feedback.id}", method: :delete, data: { confirm: '你确定要删除此条反馈吗?' } %>
      <a href="#">回复</a>
    </div>
    <br>
  </div>
<% end %> 