<!DOCTYPE html>
<html>
<head>
  <title>留言板</title>
  <link rel="stylesheet" type="text/css" href="../index.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body  background="../bkg6.jpg" >
  <div class="addDiv">
    <form action="/add"  method="post" >
      <textarea name="new_content" placeholder="内容不少于10字" autofocus="autofocus" 
      wrap="hard" class="MsgTextarea"></textarea><br>
      <input type="text" name="new_author" placeholder="作者不能为空" class="MsgText">
    <input type="submit" name="addSub"   value="提交" class="MsgBtn">
    <input type="submit" name="addCncl"  value="取消" class="MsgBtn">
    </form>
  </div>
</body>

</html>
