<!DOCTYPE html>
<html>
<head>
    <title>留言板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    没有找到该ID<br>
    5秒后自动跳转到首页...
    <script language='javascript'>setTimeout("javascript:location.href='/'", 5000); </script>
</body>
</html>
