<!DOCTYPE html>
<html>
<head>
    <title>留言板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
</head>
<body background="../bkg7.JPG">
  <div class="feedback">
    没有找到该ID<br>
    3秒后自动跳转到首页...
  </div>  
    <script language='javascript'>setTimeout("javascript:location.href='/'", 3000); </script>
</body>
</html>
