<div class="content"  >
  <h2 align="center">尝试次数太多限制登陆，请十分钟后重新登录</h2>
    <!-- 方便调试实际只要一分钟。。 -->
</div>
<script language='javascript'>setTimeout("javascript:location.href='/login'", 1000*60); </script>