<!DOCTYPE html>
<html>
<head>
  <title>留言板——添加留言</title>
  <link rel="stylesheet" type="text/css" href="../index.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body  background="../bkg6.jpg" >
  <% if @message %>
    <script type="text/javascript"> 
        //弹出一个对话框  
        alert("<%= @message[:desc] %>"); 
    </script>
  <% end %>
  <div class="addDiv">
    <form action="/add"  method="post" >
      <textarea name="new_content" placeholder="内容不少于10字" autofocus="autofocus" 
      wrap="hard" class="MsgTextarea" ><%= params[:new_content] %></textarea><br>
      <input type="text" name="new_author" placeholder="作者不能少于两个字" class="MsgText" value="<%= params[:new_author] %>">
      <input type="submit" name="addSub"   value="提交" class="MsgBtn">
      <input type="submit" name="addCncl"  value="取消" class="MsgBtn">
    </form>
  </div>
</body>

</html>
