<!DOCTYPE html>
<html>
<head>
  <title>留言板</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="../index.css" />
</head>
<body background="../bkg7.JPG">
  <div class="feedback">
    成功删除留言
    <br>
    3秒钟后自动返回首页...<br>
    点击
    <a href="/"><button class="btn">返回首页</button></a>
  </div>
  <script language='javascript'>setTimeout("javascript:location.href='/'", 3000); </script>
</body>
</html>
