<!DOCTYPE html>
<html>
<head>
  <title>留言板——注册</title>
  <link rel="stylesheet" type="text/css" href="../index.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body  background="../bkg6.jpg" > <!-- 需修改 -->

  <div class="signDiv">
    <form action="/signup"  method="post" >
      <input type="text" name="new_username" placeholder="用户名" class="MsgText" value="<%= params[:new_username] %>">
      <input type="text" name="new_password" placeholder="密码" class="MsgText" >
      <input type="text" name="new_password2" placeholder="确认密码" class="MsgText" >
      <input type="submit" name="regSub"   value="提交" class="MsgBtn">
      <input type="submit" name="regCncl"  value="取消" class="MsgBtn">
    </form>
  </div>
  <% if @message %>
    <div class="alert alert-<%= @message[:status] %>" role="alert">
      <%= @message[:desc] %>
    </div>
  <% end %>        
</body>

</html>
