<!DOCTYPE html>
<html>
<head>
  <title>留言板——登录</title>
  <link rel="stylesheet" type="text/css" href="./index.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>   
</head>

<body > 
  <div style="background-color:#F2F2F2;">
    <% if @message %>
      <div class="alert alert-<%= @message[:status] %>" role="alert">
        <%= @message[:desc] %>
      </div>
    <% end %>
    <div class="div-container-sign" >
      <form action="/signin"  method="post" >
        <div class="form-group">
          <span class="glyphicon glyphicon-user" style="color: rgb(50, 162, 27); font-size: 16px;"></span>
          <input type="text" name="login_account" placeholder="用户名或ID"  value="<%= params[:login_account] %>">
        </div>
        <div class="form-group">
          <span class="glyphicon glyphicon-lock" style="color: rgb(50, 162, 27); font-size: 16px;"></span>
          <input type="password" name="login_password" placeholder="密码"  >
        </div>
        <div class="form-group">
          <input type="submit" name="regSub"   value="登录" class="btn btn-success">
        </div>
      </form>
      <a href="signup"><button class="btn btn-primary" >注册新账号</button></a>
    </div>
  </div>  
</body>

</html>
